@model Models.LegalPerson

@{
    Layout = "_DetailsLayout";
    ViewData["Title"] = "Delete";
}

<br>

<h3>آیا مطمئن هستید که می خواهید این اطلاعات را حذف کنید؟</h3>

<br>

<h4>کاربر حقوقی</h4>

<br>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InstallerUserName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InstallerUserName)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CompanyName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CompanyName)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NameCEO)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NameCEO)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.City)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.State)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.State)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Region)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Region)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NationalCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NationalCode)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RegistrationNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RegistrationNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EconomicCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EconomicCode)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RecipientName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RecipientName)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InstallationLocation)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InstallationLocation)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GasometerType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GasometerType)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GasometerNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GasometerNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PersonNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PersonNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Attachment)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Attachment)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <a class="btn btn-success" asp-action="Index">بازگشت</a> |
    <input type="submit" value="حذف" class="btn btn-danger" />
</form>
