@model IEnumerable<Models.LegalPerson>

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="p-4">
    <h3>کاربر حقوقی</h3>
    <p>
        <a class="btn btn-success" asp-action="Create">ایجاد</a>
    </p>
</div>


<div class="p-3">
    <table class="table table-striped table-border mydatatable" style="width: 100%;">
        <thead class="text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InstallerUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameCEO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EconomicCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstallationLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GasometerType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GasometerNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attachment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstallerUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameCEO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EconomicCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecipientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstallationLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GasometerType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GasometerNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attachment)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false" src="~/png/btn.png"></button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
                                <li class="text-center"><a asp-action="Edit" asp-route-id="@item.Id"
                                    class="btn btn-outline-warning">تغییرات</a></li>
                                <li class="text-center mt-1"><a asp-action="Details" asp-route-id="@item.Id"
                                    class="btn btn-outline-primary">جزئیات</a></li>
                                <li class="text-center mt-1"><a asp-action="Delete" asp-route-id="@item.Id"
                                    class="btn btn-outline-danger">حذف</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>