@model Models.Installer

@{
    Layout = "_DetailsLayout";
    ViewData["Title"] = "Details";
}

<br>

<h3>جزئیات</h3>

<br>

<h4>نصاب</h4>

<br />

<dl class="row">

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InstallerUserName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InstallerUserName)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NationalCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NationalCode)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MobileNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MobileNumber)
    </dd>

    <hr class="my-2" />

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>
</dl>

<br>

<div>
    <a class="btn btn-success" asp-action="Index">بازگشت</a> |
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">تغییرات</a>
</div>